<ion-content padding>
  <div id="map_canvas">
    <div class="flareUpNone">
      <div class="titleFlareUp">
        <h4> Colegio Prevest </h4>
      </div>
      <div class="textoFlareUp">
        <h5><ion-icon name="location-outline"></ion-icon>Setor Bueno</h5>
        <h5><ion-icon name="body-outline"></ion-icon>Teste de lider</h5>
        <h5><ion-icon name="calendar-outline"></ion-icon>Segunda 9h, Quinta 10h </h5>
      </div>
      <button id="fechar" (click)="fechar()">Fechar</button>
    </div>
  </div>
</ion-content>