<ion-content padding>
  <div id="map_canvas">
    <div class="flareUpNone">
      <div class="titleFlareUp">
        <!-- <img src="../../assets/iconeFogo.png" alt="" width="50px" /> -->
        <h4>  {{titulo}} </h4>
      </div>
      <div class="textoFlareUp">
        <h5><ion-icon name="location-outline"></ion-icon>End Colegio</h5>
        <h5><ion-icon name="body-outline"></ion-icon>Lideres</h5>
        <h5><ion-icon name="calendar-outline"></ion-icon>Datas e horarios</h5>
      </div>
    </div>
  </div>
</ion-content>